

{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron">
  <body>
    <h1 class="display-4">A Little Gift</h1>
    {% load static %}
    <img src="{% static "Static/logo.jpeg" %}" alt="My image"/>
  <p class="lead">A tool to help the less fortunate</p>
  <p class="lead">Sometimes while we're in our cars waiting at the red light, we see that man, holding a cardborad poster, pleading for a little bit of help.
					just a little help. Or that woman who lives on the streets who can't afford a new pair of shoes because she
					has to feed her children. At <i>A Little Gift</i>, you can help your brothers and sisters in need. Maybe give then that new blanket they need
to last the winter. Or that new pair of shoes. If you can give a little gift, you can make a big difference.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'request_list' %}" role="button">View All Requests</a>
  </p>

</body>
</div>

  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>From Info Windows to a Database: Saving User-Added Form Data</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map" height="460px" width="100%"></div>
    <div id="form">
      <table>
      <tr><td>Name:</td> <td><input type='text' id='name'/> </td> </tr>
      <tr><td>Description:</td> <td><input type='text' id='description'/> </td> </tr>
	  <tr><td></td><td><input type='button' value='Save' onclick='saveData()'/></td></tr>
	  <tr><td></td><td><input onclick="DeleteMarker(marker.id);" type=button value="Fufilled!"></td></tr>
      </table>
    </div>
    <div id="message">Location saved</div>
    <script>
      var map;
      var marker;
      var infowindow;
      var messagewindow;
	  var markers = [];
   	  var uniqueId = 1;



      function initMap() {
        var california = {lat: 38.8183519, lng: -77.1687977};
        map = new google.maps.Map(document.getElementById('map'), {
          center: california,
          zoom: 15
        });
        infowindow = new google.maps.InfoWindow({
          content: document.getElementById('form')
        });
        messagewindow = new google.maps.InfoWindow({
          content: document.getElementById('message')
        });
        google.maps.event.addListener(map, 'click', function(event) {
          marker = new google.maps.Marker({
            position: event.latLng,
            map: map
          });

		  marker.id = uniqueId;
          uniqueId++;
          google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map, marker);
          });

          markers.push(marker);
        });
      }
	  function DeleteMarker(id) {
        //Find and remove the marker from the Array
        for (var i = 0; i < markers.length; i++) {
            if (markers[i].id == id) {
                //Remove the marker from Map
                markers[i].setMap(null);

                //Remove the marker from array.
                markers.splice(i, 1);
                return;
            }
        }
    };
      function saveData() {
        var name = escape(document.getElementById('name').value);
        var description = escape(document.getElementById('description').value);
        var latlng = marker.getPosition();
        var url = 'addrow.py?name=' + name + '&description=' + description +
                  '&lat=' + latlng.lat() + '&lng=' + latlng.lng();
        downloadUrl(url, function(data, responseCode) {
          if (responseCode == 200 && data.length <= 1) {
            infowindow.close();
            messagewindow.open(map, marker);
          }
        });
      }
      function downloadUrl(url, callback) {
        var request = window.ActiveXObject ?
            new ActiveXObject('Microsoft.XMLHTTP') :
            new XMLHttpRequest;
        request.onreadystatechange = function() {
          if (request.readyState == 4) {
            request.onreadystatechange = doNothing;
            callback(request.responseText, request.status);
          }
        };
        request.open('GET', url, true);
        request.send(null);
      }
      function doNothing () {
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoPLQwaSKyF-T_LIn43zKAV-mrZ8QnJGI&callback=initMap">
    </script>
  </body>
</html>
{% endblock %}
